<div class="container ">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 bg-white shadow-sm px-4">
      <%= link_to "Éditer mon profil", edit_profile_path, class: "d-flex justify-content-end text-primary text-decoration-none  my-3" %>

      <!-- Infos principales de l'utilisateur -->
      <div class="text-center">
        <%= cl_image_tag current_user.photo.key, height: 175, class: "my-3", alt: "photo de profil", radius: "max" %>
        <h1 class="text-primary"><%= current_user.first_name %> <%= current_user.last_name %></h1>
        <span><%= current_user.age %> ans</span>
        <ul class="list-inline mt-3">
          <li class="list-inline-item bg-white"><i class="fa-regular fa-envelope"></i>&nbsp<%= current_user.email %>&nbsp</li>
          <li class="list-inline-item bg-white">&nbsp<i class="fa-solid fa-mobile-retro"></i> <%= current_user.phone_number %></li>
        </ul>
      </div>

      <!-- Détails de l'utilisateur -->
      <h3 class="text-start my-4">À propos</h3>
      <p class='border-start rounded p-4 mb-3'><%= current_user.description %></p>
      <% if current_user.preferences != nil %>
        <h3 class="text-start my-4">Mes préférences</h3>
        <p class='border-start rounded p-4 mb-3'><%= current_user.preferences %></p>
      <% end %>

<!-- Sloops de l'utilisateur / Si existants -->
  <% if current_user.sloops.any? %>
    <h2 class="mb-3 py-2"> <%= current_user.sloops.size == 1 ? "Mon Sloop" : "Mes Sloops" %></h2>
    <div class= "row justify-content-center row-cols-lg-2">
    <% current_user.sloops.each do |sloop| %>
      <%= render "shared/sloopcard", sloop: sloop %>
    <% end %>
    </div>
  <% end %>
  <div class="text-start mb-4">
    <%= link_to "Ajouter un Sloop", new_sloop_path, class: "btn btn-primary" %>
  </div>

  <!-- Les favoris de l'utlisateur -->
  <% if current_user.all_favorites.any? %>
      <!-- Les Sloops favoris de l'utlisateur -->
      <h2 class="mb-3 py-2" > <%= @favorite_sloops.size == 1 ? "Mon Sloop favori" : "Mes Sloops Favoris" %></h2>
      <div class= "row justify-content-center row-cols-lg-2">
        <% @favorite_sloops.each do |sloop| %>
          <%= render "shared/sloopcard", sloop: sloop %>
        <% end %>
      </div>
    <hr>
  <% end %>

  <!-- Commentaires sur l'utlisateur -->
  <div class="text-start">
    <h3>Commentaires reçus</h3>
    <% if current_user.received_reviews.empty? %>
      <small><em class="text-muted">Vous n'avez pas encore reçu de commentaires.</em></small>
    <% end %>
    <% current_user.received_reviews.each do |review| %>
      <div>
        <% review.rating.times do %>
          <i class="fas fa-star text-info"></i>
        <% end %>
        <small><em class="text-muted"><i> <%= l(review.created_at, format: "le %d %B %Y") %></i> par <%= review.poster.first_name %></em></small>
        <p class="mb-0 review"><%= cl_image_tag review.poster.photo.key, class:"avatar" %> <%= review.comment %></p>
      </div>
      <br>
    <% end %>
    </div>
    <!-- Se déconnecter -->
    <div class="text-center">
      <%= button_to "Se déconnecter", destroy_user_session_path,  method: :delete, class: "btn btn-warning my-3" %>
    </div>
  </div>

</div>
</div>
