<% if @rides.empty? %>
  <%= link_to rides_path, class:"back-arrow" do %>
    <i class="fa-solid fa-angle-left fa-2xl" style="color: #FFFFFF;"></i>
  <% end %>
<% else %>
  <%= link_to root_path, class:"back-arrow" do %>
    <i class="fa-solid fa-angle-left fa-2xl" style="color: #FFFFFF;"></i>
  <% end %>
<% end %>

<div class="banner d-flex justify-content-center align-items-center">
  <h1>Les offres de Skippers</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-9 col-lg-6 my-3">
      <%= form_with url: rides_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Nantes, Lorient, Saint-Malo, ...",
          id: "search-query"
          %>
        <%= button_tag :submit, class: "btn btn-primary",id: "search-btn" do %>
          <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class=" d-flex mb-3">
    <%= link_to "Publier une demande", new_ride_request_path, class: "btn btn-primary" %>
  </div>

  <% if @rides.empty? %>
    <span  class="mb-3 d-block"><em><%= "Aucune proposition de voyage disponible pour le moment." %></em></span>
  <% else %>
    <span  class="mb-3 d-block"><em><%= @rides.count %> <%= @rides.size == 1 ? "résultat" : "résultats" %></em></span>
  <% end %>

    <div class= "row row-cols-sm-2 row-cols-lg-3">
    <% @rides.each do |ride| %>
      <%= render 'shared/cardride', ride: ride %>
    <% end %>
    </div>
</div>
